<div class="sidebar">
  <div class="sidebar-brand">
    <div class="brand-icon">ti</div>
    <div class="brand-text">
      <span class="brand-name">Timsoft</span>
      <span class="brand-sub">Admin Portal</span>
    </div>
  </div>

  <nav class="sidebar-nav">
    <a routerLink="/dashboard" routerLinkActive="active" class="nav-item">
      <i class="bi bi-grid"></i>
      <span>Dashboard</span>
    </a>
    <a routerLink="/templates" routerLinkActive="active" class="nav-item">
      <i class="bi bi-file-earmark-text"></i>
      <span>Templates</span>
    </a>
    <a routerLink="/users" routerLinkActive="active" class="nav-item">
      <i class="bi bi-people"></i>
      <span>Users</span>
    </a>
     <a routerLink="/departments" routerLinkActive="active" class="nav-item">
    <i class="bi bi-building"></i>
    <span>Departments</span>
     </a>
    <a routerLink="/rules" routerLinkActive="active" class="nav-item">
      <i class="bi bi-shield"></i>
      <span>Rules</span>
    </a>
    <a routerLink="/settings" routerLinkActive="active" class="nav-item">
      <i class="bi bi-gear"></i>
      <span>Settings</span>
    </a>
  </nav>
</div>